.topic {
  
  background-color: aquamarine;
}
.App {
  text-align: center;
}

img {
  width: 100%;
}
.topic {
  display: flex;
}
/* display topis items side by side */

.item {
  flex: 1;
  padding: 2px;
  position: relative;
  overflow: hidden;
}
/* display items with equal column width */

/* 
.overlay {
  display: none;
  position: absolute;
  bottom: 11px;
  width: 100%;
  transform: bottom ease 1s;
}
/* transition not working */
/*
.item:hover .overlay {
  opacity: .5;
  display: block;
} */
/* hover overlay  */
        @media only screen and (max-width: 600px) {
          .topic {
            display: block;
          }
        }
        /* make mobile friendly  */

        .overlay{
          transition: bottom cubic-bezier(0, 0, 0.57, 1.71) 1s;
          position: absolute;
          bottom: -800px;
          left: 0;
          width:100%;
          background-color: rgb(0, 255, 149);
         

          
          opacity: 0.8;
        }
        .item:hover .overlay {
          opacity: .9;
          bottom: 0;
        }

        .overlayText {
          font-size: smaller;
          padding-left: 3px;
        }