* {
  
  background-color: aquamarine;
}
.App {
  text-align: center;
}

img {
  width: 100%;
}
.topic {
  display: flex;
}
/* display topis items side by side */

.item {
  flex: 1;
  padding: 2px;
}
/* display items with equal coloumn width */

@media only screen and (max-width: 600px) {
.topic {
  display: block;
}
}
/* make mobile friendly  */